# Typescript and NodeJS
*.d.ts
!typings/**/*.d.ts
*.js
*.js.map
node_modules

# dotenv
.env

# Misc
.DS_Store
.vscode
coverage

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firebase-debug.*.log*

# Compiled JavaScript files
build
build/**/*.js
build/**/*.js.map

# Runtime data
pids
*.pid
*.seed
*.pid.lock

